<app-banner2 motto={{motto1}}></app-banner2>
<div class ="privacy-policy" id="banner2scrollTarget">
  GENERAL PROVISIONS<br/> <br/>
  
  Punkpirates deals with creating, developing and distributing games for mobile devices (hereinafter referred to as the
  “Games”) available on internet platforms such as Oculus, Steam, Viveport and others. Any references herein to “you” or
  the “User” shall be deemed to mean any person providing us with their data.
  <br/><br/>
  A data controller of the data provided by you shall be Punkpirates SA. (hereinafter referred to as “Punkpirates”) with
  the registered office in the Republic of Poland in Krakowskie Przedmieście 13, 00-071, Warsaw, Poland, entered in the
  register kept by District Court for Warsaw, 7th Economic Department of the National Court Register (KRS) under the KRS
  number 0000290409, holding a tax ID no. 1132682830 and a statistical ID no. REGON 141064373.
  <br/><br/><br/>
  
  
  This Privacy Policy has been developed to provide Users with detailed information about the data collected by the
  Controller and the manner of their use. The use of the Games entails automatic acceptance of the following Privacy
  Policy rules.
  <br/><br/>
  The Controller shall provide Users with full protection of the entrusted personal data. However, Users may share and
  publish their data on their own, in which the Controller does not interfere with, nor is the Controller liable for any
  consequences of such actions.
  <br/><br/>
  You can at any time view, modify and erase any of your data.
  <br/><br/><br/>
  
  
  COLLECTION, USE AND PROCESSING OF DATA, INCLUDING PERSONAL DATA
  <br/><br/>
  Punkpirates is committed to protecting your privacy and selects with the utmost diligence technical measures for
  protection of data processing, especially against access by unauthorised persons. The personal data are accessed by
  authorised employees of Punkpirates only, unless the User has consented to the public disclosure of their indicated
  data.
  <br/><br/>
  During the use of the Games we collect the following data, among others: information regarding the device and logging
  (so-called system logs) containing a visit date, time, operating system details, your IP address, MAC address and other
  data identifying the mobile device used by you. We may also obtain data about the name given to the mobile device and
  its type (in some cases we may assign an identification number to your device), country and telephone number and any
  other information that you have decided to provide to us, e.g. your username, character name, e-mail address or
  geolocation data. Subject to your prior consent, we may also obtain access to your contacts in order to enable you to
  invite your friends to the Game. Such invitation can contain your name and profile picture.
  <br/><br/>
  Moreover, if our Games are played with the use of social media, such as Facebook, we may have access to some of your
  profile details on such portals and store them. Such data may differ depending on a specific Game and the portal used by
  you. We may, for example, obtain access to the following data (all or some of them, depending on your choice):
  <br/><br/>
  forename and surname;
  <br/><br/>
  profile picture or a link to the picture;
  <br/><br/>
  your identification number which is liked to any publically available information, such as your forename and surname or
  profile picture;
  <br/><br/>
  e-mail address;
  <br/><br/>
  location data;
  <br/><br/>
  sex;
  <br/><br/>
  date of birth.
  <br/><br/>
  Punkpirates shall not be a controller of any data accessed by them as a result of logging in by you to play the Games
  using Facebook or any other social networks.
  <br/><br/>
  We do not collect or process any information regarding potential payments made by third parties, e.g. Apple, Google or
  any internet platform used by you to purchase the Games.
  <br/><br/>
  If you provide your e-mail address we will use it to reply to your questions and to provide technical support as well as
  to inform you about your activity in the Game and enable you to send invitations to your friends.
  <br/><br/>
  If you consent, we may send notifications of available Game updates and other related messages to your mobile device.
  You can manage the process of sending the notifications and messages by accessing “Options” or “Settings” on your
  device.
  <br/><br/>
  If you contact the Client Service Team we will collect and store the contact details provided by you (forename, surname,
  e-mail address) as well as your User’s number. We store your correspondence.
  <br/><br/>
  If you consent, Punkpirates may process your personal data for marketing communication purposes. Following the
  completion of processing, the data are erased in line with the relevant regulations.
  <br/><br/>
  The aforementioned activities are aimed at improving the Games, adapting them to the needs of the User and at providing
  their safe, efficient and effective functioning.
  <br/><br/>
  The data of Punkpirates Users are used primarily for the following purposes:
  <br/><br/>
  to create Users’ profiles for individual Games and to allow using them,
  <br/><br/>
  to provide technical support and communication among Users as well as replies to Users’ questions,
  <br/><br/>
  to suggest contact with other Users,
  <br/><br/>
  to notify about any available Game updates,
  <br/><br/>
  to inform about results of players,
  <br/><br/>
  to prevent any potential fraud or illegal activity,
  <br/><br/>
  to provide, measure and improve services and contents,
  <br/><br/>
  to inform about Punkpirates products and services,
  <br/><br/>
  to conduct marketing or promotional activities, subject to prior consent of the User, and to send a free newsletter,
  provided that the User has already consented to receive commercial information from Punkpirates.
  <br/><br/>
  
  
  CHILDREN
  <br/><br/>
  Punkpirates does not collect any personal data of minors under thirteen years of age. Minors under 13 should not provide
  their personal data without the permission of a statutory representative. Punkpirates may require verification of the
  permission granted, in particular by asking for sending it to the Punkpirates address specified in Clause I above.
  Should Punkpirates find that they have any personal data of minors under 13 and should it be impossible to verify the
  permission of a statutory representative, Punkpirates shall immediately erase such data in a manner that prevents
  restoring the data.
  <br/><br/>
  
  
  DATA SHARING AND PROTECTION
  <br/><br/>
  Punkpirates does not lend, transfer or sell personal data of Users without their consent to any third parties, except
  for any justified cases, such as the provision of any service to the User and unless authorised or requested under the
  provisions of law by competent authorities, also in connection with any pending proceedings. The information is provided
  by us to third parties only in the manner stipulated herein.
  <br/><br/>
  We share your data, including personal data, with third parties providing the following services: delivery of electronic
  mail, hosting services, promotional and marketing activities. We take care to ensure the highest protection of the data
  by third parties cooperating with us and to ensure that the data are not used for any other purposes than the provision
  of the aforementioned services on behalf of Punkpirates.
  <br/><br/>
  We may cooperate with analytical companies in order to determine the way in which the Game is played, for example the
  frequency and time of playing the Game. It will enable us to adapt the displayed ads to Users’ preferences. Advertisers
  and advertising networks use some of the information collected while you play the Game, including a unique
  identification number of your device. In order to ensure anonymity of this information we encode it to make sure that
  third parties cannot identify you. Third parties may also get access to information about other applications which you
  have installed on your device, websites visited by you with the use of the mobile device, general information about your
  location in order to address relevant ads to you while maintaining your full anonymity. If you do not consent to the use
  of this information by third parties, you should follow the rules regarding privacy protection valid for such third
  parties.
  <br/><br/>
  During the use of most of our Games your friends can see your forename, profile picture and description of your activity
  while playing the Game. In a number of our Games your friends and other Users will be able to see your Game profile
  which may include your forename, surname, User name and profile picture and in some cases also your identification
  number. Other players may also send you invitations to the Game.
  <br/><br/>
  Should Punkpirates be subject to transformation, division or merger with another entity, you shall be immediately
  informed by e-mail or by a relevant announcement placed on our Website about the planned changes and the rights you can
  exercise in connection with such changes.
  <br/><br/>
  The personal data are stored and processed in line with the rules stipulated in the regulations valid in the territory
  of Poland with regard to the personal data protection, in particular physical and system measures as well as relevant
  procedural solutions are applied in order to protect the information regarding you.
  <br/><br/>
  
  
  LINKS TO OTHER SITES
  <br/><br/>
  The Privacy Policy refers only to the Games and data the Controller of which is Punkpirates SA. Punkpirates shall not be
  liable for any links placed on sites enabling users to directly access any site not administered by Punkpirates. We
  encourage you to read the contents of the provisions regarding privacy published on the sites to which the links direct
  you.
  <br/><br/>
  
  
  RIGHT TO ACCESS, MODIFY AND ERASE DATA
  <br/><br/>
  Punkpirates guarantees that each User providing personal data has the right to access, modify and erase the data. In the
  case of sites operated automatically the actions may be taken independently by the User, for example by uninstalling the
  Game; should such form not be available, the actions may be taken by contacting the Controller at the address specified
  in Clause “Contact”. The uninstalling of the Game shall result in the cessation of collecting and processing of the
  data.
  
  <br/><br/>
  
  CONTACT
  <br/><br/>
  Should you have any questions concerning the protection of personal data or processing of the information provided by
  you or collected automatically, please contact our Client Service Team at the following e-mail address:
  hello@punkpirates.io
  <br/><br/><br/>
  
  
  FINAL PROVISIONS
  <br/><br/>
  By browsing and using the Games you accept the rules stipulated herein and you consent to the information provided by
  the User and collected automatically in the manner described herein being processed (i.e. for example collected, stored,
  erased, used, disclosed).
  <br/><br/>
  The information processing takes place in Poland. Should your place of residence/registered office be outside Poland,
  the information shall be transferred to Poland and processed in line with the applicable Polish provisions of law.
  <br/><br/>
  This Privacy Policy may be subject to change. The most recent version is at all times available on our website at
  www.punkpirates.io
<br/><br/>
</div>
