<div class="company">
  <div class="company-title">Spółka</div>
<div class="company-content">
  <b>PunkPirates S.A.</b><br/>
  WeWork<br />
  ul. Krakowskie Przedmieście 13<br />
  00-071 Warszawa<br /><br />
  
  wpisana do rejestru przedsiębiorców prowadzonego przez Sąd Rejonowy dla m. st. Warszawy,<br />
  XII Wydział Gospodarczy Krajowego Rejestru Sądowego<br /><br />
  
  KRS: 0000290409<br />
  NIP: 1132682830<br />
  REGON: 141064373<br /><br />
  
  z kapitałem zakładowym w wysokości 2.235.300,00 zł. w całości opłaconym i Zarządzie w składzie:<br /> Maciej Hazubski - Prezes Zarządu,<br /> Wojciech Przyłęcki - Wiceprezes Zarządu,<br /> Leszek Krajewski - Członek Zarządu ds. Rozwoju<br />
</div>
</div>