  <div class="ff-banner">
    <app-nav></app-nav>
    <div class="scroll-down">
      <div (click)="scroll()" style="border-bottom: 1px solid #707070;padding-left: 35px;padding-right: 21px;">scroll down
      </div>
    </div>
  </div>

  <div class="game-details">
    <div class="centered-container">
  <div class="game-details-container">
    <div class="cs-image" id="images-game-det-ff">
      <b>Coming Soon</b><br /> Q3 2021
    </div>
  </div>
  <div class="game-details-container" style="position: relative;">


<div class="red-particle particle" style="top:15%; right: 15%;"></div>
<div class="dark-particle particle" style="top:16%; right: 16%;"></div>
<div class="red-particle particle" style="top:35%; left: 15%;"></div>
<div class="dark-particle particle" style="top:86%; left: 26%;"></div>

    <div class="game-tech-dets">
      <div class="game-det-column-1">
        <div class="game-det-title">
          Developer
        </div>
        <div class="game-det-desc">
          Raion Games
        </div>
        <div class="game-det-title">
          Publisher
        </div>
        <div class="game-det-desc">
          Raion Games
        </div>
        <div class="game-det-title">
          Release Date
        </div>
        <div class="game-det-desc">
          Q3 2021
        </div>
      </div>
      <div class="game-det-column-1">
        <div class="game-det-title">
          Social Media
        </div>
        <div class="game-det-desc">
          fb, twitter
        </div>
        <div class="game-det-title">
          Platforms
        </div>
        <div class="game-det-desc">
          Nintendo Switch, PC
        </div>
        <div class="game-det-title">
          Presskit
        </div>
        <div class="game-det-desc">
          <span style="color:red;">Download > </span>
        </div>
      </div>
    </div>
    <div class="game-det-column-2">
      <div class="game-title">Flyin Fat</div>
      <div class="game-subtitle">Flyin Fat's mission is to fight overweight in the funny sense of the phrase. <br/>We want to provide players with
      competitive, fun, and dynamic gameplay in our game.</div>
      <div class="game-desc">Flyin Fat is an online arcade game. Players take on the role of the fat characters who have problems with keeping their
      balance. Up to 10 players can take part in the game, competing in such disciplines as:<br/><br />
      
      Runninfat - a race of fatters, the run is based on the fact that the player's main task is to maintain balance so that
      his character does not fall down while avoiding obstacles.<br /><br />
      
      Fatnament - a tournament where the characters slap each other in the face, and the one whose character can last longer
      wins.<br /><br />
      
      Fattle - food battle, players are teleported to the board where they must find weapons, ammunition and finish off the
      rest of the opponents, the last one alive wins. The game board is set in the center of a large donut that shrinks over
      time, limiting the battlefield.<br /><br />
      
      The player with the most points wins. There is also a general ranking with a summary of all matches.

      </div>
    </div>
  </div>
  <div class="game-movie" style="display: none;">
  </div>
</div>
</div>
  <app-ourgames [displayButton]="false"></app-ourgames>

