<div class="management">
  <div class="management-title">Zarząd</div>
  <div class="management-content">
 

<div class="management-tab">
  <div class="management-img">
    <img width="185" src="../../assets/leszek.png">
  </div>
  <div class="management-desc">
    <div class="padding-mobile">Leszek Krajewski</div><br />
    <div class="padding-mobile" style="font-size: 13px;">Prezes Zarządu</div><br /><br />
    <div class="management-desc-desc">Doświadczenie zawodowe zdobywał w agencji marketingowej EvilPort Sp. z o.o. specjalizującej się w promocji gier
    komputerowych. Od 2016 roku zajmuje się produkcją gier na wirtualną rzeczywistość. Założyciel PunkPirates sp. z o.o.
    Pomysłodawca i współtwórca gier VR m.in. gier Escape Room VR, Escape Room VR: Stories, które są obecnie w portfelu
    PunkPirates S.A. Pełni również funkcję Prezesa Zarządu spółki stowarzyszonej RAION Games S.A., specjalizującej się w
    produkcji gier Nintendo Switch oraz Członka Zarządu spółki stowarzyszonej Games 4Experience S.A. koncentrującej się na
    produkcji gier wirtualnej rzeczywistości.</div>
  </div>
</div>

<div class="management-tab">
  <div class="management-img">
    <img width="185" src="../../assets/g.png">
  </div>
  <div class="management-desc">
    <div class="padding-mobile">Małgorzata Grużewska</div><br />
    <div class="padding-mobile" style="font-size: 13px;">Wiceprezes Zarządu</div><br /><br />
    <div class="management-desc-desc">Absolwentka Szkoły Głównej Handlowej w Warszawie na kierunku Finanse i Rachunkowość oraz Wyższej Szkoły Handlu i Prawa
    im. R. Łazarskiego w Warszawie na Wydziale Ekonomii i Zarządzania. Od 2006 roku związana z PunkPirates S.A., gdzie
    początkowo zajmowała stanowisko Asystentki Zarządu, następnie Analityka. W latach 2010-2019 jako Menadżera Projektów
    Inwestycyjnych m.in. aktywnie poszukiwała projektów innowacyjnych, uczestniczyła w procesach inwestycyjnych, nadzorze
    właścicielskim nad projektami, prowadzaniu procesów sprzedaży spółek, pozyskiwaniu kolejnych rund finansowania do
    projektów, współpracowała z partnerami biznesowymi. Od 2019 roku pełniła funkcję Prokurenta a od 2020 roku Dyrektora
    Operacyjnego PunkPirates S.A. Obecnie zasiada w Radzie Nadzorczej Games 4Experience S.A. oraz Przychodnie Studenckie sp.
    z o.o.</div>
  </div>
</div>

  </div>
</div>