<div class="menu">
  <div class="menu-nav">
    <a routerLink="/">
      <div class="logo">
      </div>
    </a>
    
    <a href="javascript:void(0)" (click)="goBack()" class="back"> 
   X </a></div>
  <div class="menu-nav-main">
    <div class="navlink"><a routerLink="/">Start</a></div>
    <div class="navlink"><a routerLink="/games">{{games}}</a></div>
    <div class="navlink"><a routerLink="/investorRelation">{{investorRelation}}</a></div>
      <div class="navlink"><a routerLink="/careers">{{careers}}</a></div>
    <div class="navlink"><a routerLink="/contact">{{contact}}</a></div>
  </div>
</div>