<div class="footer">
  <div class="footer-1">
    <div class="logo"></div>
    <div class="logo-text">An Independent
    VR Game Development Studio.</div>
    <div class="footer-socials">
      <a href="https://www.linkedin.com/company/punkpirates/about/" target="_blank"><img class="socials-img"
          src="../../assets/ln.svg"></a>
      <a href="https://www.facebook.com/punkpiratesvr/" target="_blank"><img class="socials-img"
          src="../../assets/fb.svg"></a>
      <a href="https://discord.com/invite/DQa2m45" target="_blank"><img class="socials-img"
          src="../../assets/discord-seeklogo.com.svg"></a>
      <a href="https://www.youtube.com/channel/UCwXSCAdVf6Nz2m87m-tBmfQ" target="_blank"><img class="socials-img"
          src="../../assets/yt.svg"></a>
    </div>  
  </div>
  <div class="footer-2">
    <div class="footer-link"><a routerLink="/">Start</a></div>
    <div class="footer-link"><a routerLink="/games">{{games}}</a></div>
    <div class="footer-link"><a routerLink="/contact">{{contact}}</a></div>
  </div>
  <div class="footer-3">
    <div class="footer-link"><a routerLink="/investorRelation">{{investorRelation}}</a></div>  
    <div class="footer-link"><a routerLink="/careers">{{careers}}</a></div>
    <div class="footer-link"><a routerLink="/privacy">{{privacyPolicy}}</a></div>
  </div>
</div>