<div class="el-banner">
  <app-nav></app-nav>
  <div class="scroll-down">
    <div (click)="scroll()" style="border-bottom: 1px solid #707070;padding-left: 35px;padding-right: 21px;">{{scrollDown}}
    </div>
  </div>
</div>

<div class="game-details">
  <div class="centered-container">
    <div class="game-details-images" id="images-game-det-el">
      <div class="game-details-images-image">
        <img class="image" width="200px" height="250px" src="../../assets/escape-lab/doktor-1.png">
      </div>
      <div class="game-details-images-image">
        <img class="image" width="200px" height="250px" src="../../assets/escape-lab/lab.png">
      </div>
    </div>

    <div class="game-details-container">

      <div class="game-tech-dets">
        <div class="game-det-column-1">
          <div class="game-det-title">
            {{developer}}
          </div>
          <div class="game-det-desc">
            PunkPirates
          </div>
          <div class="game-det-title">
            {{publisher}}
          </div>
          <div class="game-det-desc">
            PunkPirates
          </div>
          <div class="game-det-title">
            {{platform}}
          </div>
          <div class="game-det-desc">
            {{cs}}
          </div>
          <div class="game-det-title">
            {{releaseDate}}
          </div>
          <div class="game-det-desc">
            {{release}}
          </div>
        </div>
      </div>
      <div class="game-det-column-2">
        <div class="game-title">DANGER! Escape Lab</div>

        <div class="game-desc">{{desc}}

        </div>
      </div>
    </div>
    <div class="game-movie">
      <iframe width="100%" height="450px" src="https://www.youtube.com/embed/vMzHnz8ppSY" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>
</div>


<app-ourgames [displayButton]="false"></app-ourgames>