.nav {
    height: 80px;
    display: flex;
    padding-top: 25px;
    font-family:  Poppins;
    font-size: 13.2px;
    letter-spacing: 0px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 3%;
    padding-left: 10%;
    align-items: center;
}
.nav .logo {
    min-width: 149px;
    min-height: 80px;
    background-image: url("../../assets/logo.png");
    background-size: cover;
    transition: transform .2s;
    margin-top: -20px
}



.nav .logo:hover {
    transform: scale(1.1)
}


.nav .socials {
    margin-left: -350px;
    width:10%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    z-index: 2;

}

.nav .navigation {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-start;
    padding-bottom: 10px;
}

.svg path {
    fill: white;
}

.hamburger{
    display: none;
}

@media(max-width: 1355px)
{
   .hamburger {
    display: block;
   }

   .nav {
       padding-left: 0.4%;
   }
}

.nav .navigation .navlink {
    display: block;
    padding-right: 45px;
    transition: transform .2s;
}

.socials-img {
    margin-right: 23px;
    transition: transform .2s;
    fill: white;
}


.navlink2 {

}
.navlink2:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.socials-img:hover {
    transform: scale(1.1);
}

@media(max-width: 1355px)
{
   .nav .navigation .navlink {
    display: none;
   }
   .nav .socials {
       display: none;
   }
   .navlink2{
       display: none;
   }

   .nav .navigation{
       justify-content: flex-end;
   }
}

.navlink:hover {
    transform: scale(1.1);
}