<div class="offer">
<div class="offer-tab">
  <div class="offer-tab-image">
    <img src="../../assets/preproductun.svg">
  </div>
  <div class="offer-tab-title">
    <h4>Preproduction</h4>
  </div>
  <div class="offer-tab-desc">
    We create and develop game ideas along with the initial design documents and trailers.
  </div>
</div>
<div class="offer-tab">
  <div class="offer-tab-image">
    <img src="../../assets/production.svg">
  </div>
  <div class="offer-tab-title">
    <h4>Production</h4>
  </div>
  <div class="offer-tab-desc">
    The entire production cycle of our titles is made by RAION GAMES team.
  </div>
</div>
<div class="offer-tab">
  <div class="offer-tab-image">
    <img src="../../assets/global_distibution.svg">
  </div>
  <div class="offer-tab-title">
    <h4>Global distribution</h4>
  </div>
  <div class="offer-tab-desc">
    We take care of the whole distribution process.
  </div>
</div>
<div class="offer-tab">
  <div class="offer-tab-image">
    <img src="../../assets/global_promotion.svg">
  </div>
  <div class="offer-tab-title">
    <h4>Global promotion</h4>
  </div>
  <div class="offer-tab-desc">
    Our team has a marketing background, so we know how to manage the promotion effectively.
  </div>
</div>
</div>
