<div class="newsletter-popup">

  <div class="newsletter-close">X</div>
  <div class="newsletter-title">Join our newsletter</div>
  <div class="newsletter-sub-title">and be Raion with us</div>
  <div ><input class="newsletter-input" placeholder="Enter your e-mail"></div>
  <div class="newsletter-description">
    I agree with Privacy Policy and confirm that I would like to receive a newsletter from Raion GAMES and understand that I
    have the right to withdraw my consent at any time.
  </div>
  <div><button class="newsletter-button">Subscribe</button></div>
</div>