<div class="shareholding">
  <div class="shareholding-title">Akcjonariat</div>
  <div class="shareholding-content">
    <table id="shareholding-table">
      <tr>
        <th>Akcjonariusz</th>
        <th>Liczba akcji/głosów</th>
        <th>% kapitału/liczby głosów</th>
      </tr>
      <tr>
        <td>Dien sp. z o.o.</td>
        <td>5.000.000</td>
        <td>22,37%</td>
      </tr>
      <tr>
        <td>Wojciech Przyłęcki</td>
        <td>4.805.350</td>
        <td>21,50%</td>
      </tr>
      <tr>
        <td>Formonar Investments Limited</td>
        <td>1.9000.000</td>
        <td>8,49%</td>
      </tr>
      <tr>
        <td>Pozostali</td>
        <td>14.032.761</td>
        <td>47,64%</td>
      </tr>
      <tr>
        <td><b>Razem</b></td>
        <td><b>122.353.000</b></td>
        <td><b>100%</b></td>
      </tr>

</table>
</div>
</div>