<div class="our-games" style="position: relative;">

  <div class="our-games-title">
    {{title}}
  </div>
  <div class="our-games-games">
    <div class="our-games-tab">
      <div class="our-games-tab-img">
        <a routerLink="/escapeRoom"> <img class="our-games-img" src="../../assets/ourgames/Escape room VR.png"></a></div>
      <div class="our-games-tab-name"><a routerLink="/escapeRoom">Escape Room VR</a></div>
    </div>


    <div class="our-games-tab">
      <div class="our-games-tab-img">
        <a routerLink="/vrStories"> <img class="our-games-img" src="../../assets/ourgames/Escpae Room Stories.png"></a></div>
      <div class="our-games-tab-name"><a routerLink="/vrStories">Escape Room VR:<br /> Stories</a></div>
    </div>

    <div class="our-games-tab">
      <div class="our-games-tab-img">
      <a routerLink="/innerVoices"><img class="our-games-img" src="../../assets/ourgames/Escape Room Inner Vocies.png"></a></div>
      <div class="our-games-tab-name"><a routerLink="/innerVoices">Escape Room VR:<br/> Inner Voices</a></div>
    </div>

    
<div class="our-games-tab">
  <div class="our-games-tab-img">
    <a routerLink="/escapeLab"> <img class="our-games-img" src="../../assets/ourgames/Danger.png"> </a></div>
  <div class="our-games-tab-name"><a routerLink="/escapeLab"> DANGER! Escape Lab</a><br /></div>
</div>

    <div class="our-games-tab">
      <div class="our-games-tab-img">
        <a routerLink="/deathManager"> <img class="our-games-img" src="../../assets/deathmanager_poster.jpg"></a></div>
      <div class="our-games-tab-name"><a routerLink="/deathManager">Death Manager VR</a></div>
    </div>

    <div class="our-games-tab">
      <div class="our-games-tab-img">
        <a routerLink="/paintball"> <img class="our-games-img" src="../../assets/paintball_poster.jpg"></a>
      </div>
      <div class="our-games-tab-name"><a routerLink="/paintball">Community Paintball VR</a></div>
    </div>

  <!--  <div class="our-games-tab">
      <div class="our-games-tab-img">
        <a routerLink="/titans"> <img class="our-games-img" src="../../assets/ourgames/Titans.png"></a></div>
      <div class="our-games-tab-name"><a routerLink="/titans">Titans VR</a></div>
    </div>
-->
  </div>

</div>