<div class="careers" style="position: relative;">

<div class="careers-title">{{title1}}</div>
<div class="careers-desc">{{desc}}</div>
<div class="careers-title">{{title2}}</div>
<div class="careers-tabs">
  <a routerLink="/unityDev">
  <div class="careers-tabs-tab">  
    <div class="careers-tab-img">
      <img width="55px" height="55px" src="../../assets/developer.svg">
    </div>
    <div class="careers-tab-content">
      <div class="careers-tab-title">Senior Unity Developer</div>
      <div class="careers-tab-title-desc"><b>{{department}}:</b> Development<br/>
      <b>{{location}}:</b> {{location2}}</div>
    </div>
  </div>
  </a>
  <!--
  <div class="careers-tabs-tab">
    <div class="careers-tab-img">
      <img width="65px" height="65px" src="../../assets/level_designer.svg">
    </div>
    <div class="careers-tab-content">
      <div class="careers-tab-title">Level Designer</div>
      <div class="careers-tab-title-desc"><b>Department:</b> Design<br />
        <b>Location:</b> Cracow/Warsaw</div>
    </div>
    </div>
    -->
  </div>
</div>