<div class="management">
  <div class="management-title">Rada Nadzorcza</div>
  <div class="management-content">
    <div class="management-tab">
      <div class="management-img">
        <img src="../../assets/rafal_rachalewski.png">
      </div>
      <div class="management-desc">
        <div class="padding-mobile">Rafał Rachalewski</div><br />
        <div class="padding-mobile" style="font-size: 13px;">Przewodniczący Rady Nadzorczej</div><br /><br />
        <div class="management-desc-desc">Absolwent Uniwersytetu Łódzkiego (specjalizacja: rachunkowość) oraz studiów Executive MBA w polsko-kanadyjskim programie
        UQUAM SGH w Warszawie. Od roku 2018 pracuje w Liberty Motorcyles i współzarządza segmentem motocyklowym firmy Inter Cars
        S.A. W latach 2007-2017 związany z funduszem typu Private Equity EMSA Capital inwestującym w zagrożone aktywa średniej i
        dużej wielkości na terenie Europy Środkowo-Wschodniej, przywracając im zdolność konkurowania na swoich rynkach
        docelowych. W latach 2003-2007 związany z branżą konsultingową. W latach 2003-2005 odegrał istotną rolę w stworzeniu
        dwóch spółek start-up na rynku polskim. Wcześniej tj. w okresie 1998 - 2000 pracował w amerykańskiej firmie
        konsultingowej IMPAC realizującej projekty usprawniające najważniejsze procesy biznesowe dużych polskich przedsiębiorstw
        m.in. Rafako S.A., Unicom Bols Group (obecnie podmiot z grupy CEDC), Okocim S.A. Pan Rafał Rachalewski spełnia kryteria
        niezależności.</div>
      </div>
    </div>


    <div class="management-tab">
      <div class="management-img">
        <img src="../../assets/mariusz_szypura.png">
      </div>
      <div class="management-desc">
        <div class="padding-mobile">Mariusz Szypura</div><br />
        <div class="padding-mobile" style="font-size: 13px;">Członek Rady Nadzorczej</div><br /><br />
        <div class="management-desc-desc">Studiował architekturę na Politechnice Poznańskiej. Od 10 lat zaangażowany jest w rozwój projektów na przecięciu
        technologii, mediów i reklamy. Współzałożyciel i współwłaściciel grupy mediowej MediaPop (zarządzającej takimi portalami
        jak jastrzabpost.pl, popularne.pl, pyszności.pl, genialne.pl) oraz firmy zajmującej się reklamą programmatic Advantage
        Media, a także działającej na przecięciu social mediów i reklamy, spółki United App. Wcześniej był założycielem, CEO i
        dyrektorem kreatywnym notowanego na New Connect warszawskiego studia produkującego gry komputerowe Telehorse S.A. Gry
        stworzone przez niego były nominowane i nagradzane na całym świecie. Gra Steampunker zdobyła nagrodę Indie Prize za Best
        Game Art na Casual Connect w Belgradzie, była nominowana do nagród także na Tokyo Game Show oraz na Casual Connect w
        Singapurze, San Francisco i Tel Awiwie. Użytkownicy portalu SlideDB wybrali Steampunkera grą roku 2014, a w polskim
        konkursie AppAward 2014 Steampunker został najlepszą aplikacją w kategorii Rozrywka. Gra Steamburg zdobyła nagrodę dla
        Best Upcoming Game na IMGA Awards w San Francisco w 2017, Indie Game Cup za Best Storytelling na White Nights w
        Helsinkach w 2016 oraz była w finale konkursów dla gier niezależnych m.in. na Tokyo Game Show, Casual Connect USA, White
        Nights St. Petersburg i Taipei Game Show. Mariusz Szypura zajął 26 miejsce w Rankingu Najbardziej Kreatywni w Biznesie
        2014 magazynu Brief. Mariusz Szypura przez 20 lat pracował jako dyrektor kreatywny w agencjach reklamowych, gdzie
        stworzył setki projektów i kampanii dla największych brandów na rynku nagradzanych m.in. w konkursach Effie Awards.
        Zaprojektował wiele okładek płyt m.in. dla laureata Grammy - Włodka Pawlika, Myslovitz, T.Love i Ani Dąbrowskiej. Był
        także autorem oprawy graficznej pięciu edycji OFF Festivalu (2010 - 2015) - laureata w kategorii najlepszy festiwal
        muzyczny w Europie. Jako kompozytor, muzyk oraz producent muzyczny nagrywał z artystami takimi jak: Katarzyna Nosowska,
        Artur Rojek, Monika Brodka, Ania Dąbrowska. Za album Silver Rocket "Tesla" odebrał nagrodę Fryderyk. Mariusz Szypura
        jest również kompozytorem muzyki filmowej m.in. do takich filmów jak: "Big Love" w reżyserii Barbary Białowąs oraz
        "Supermarket" w reżyserii Macieja Żaka oraz gier komputerowych Warsaw, Steampunker, Steamburg i innych. Pan Mariusz
        Szypura spełnia kryteria niezależności.</div>
      </div>
    </div>


    <div class="management-tab">
      <div class="management-img">
        <img src="../../assets/piotr_bolminski.png">
      </div>
      <div class="management-desc">
        <div class="padding-mobile">Piotr Bolmiński</div><br />
        <div class="padding-mobile" style="font-size: 13px;">Członek Rady Nadzorczej</div><br /><br />
        <div class="management-desc-desc">Renomowany specjalista ds. księgowych i podatkowych, ekspert w dziedzinie skonsolidowanych sprawozdań finansowych oraz
        Międzynarodowych Standardów Rachunkowości. Współwłaściciel i Prezes Zarządu Forum Rachunkowości sp. z o.o. z siedzibą w
        Warszawie. Pan Piotr Bolmiński nie uczestniczy w spółce konkurencyjnej jako wspólnik spółki cywilnej, spółki osobowej
        lub jako członek organu spółki kapitałowej oraz nie uczestniczy w innej konkurencyjnej osobie prawnej jako członek jej
        organu. Pan Piotr Bolmiński nie jest wpisany do Rejestru Dłużników Niewypłacalnych, prowadzonym na podstawie ustawy o
        Krajowym Rejestrze Sądowym.</div>
      </div>
    </div>


    <div class="management-tab">
      <div class="management-img">
        <img src="../../assets/jan_ziemiecki.png">
      </div>
      <div class="management-desc">
        <div class="padding-mobile">Jan Ziemiecki</div><br />
        <div class="padding-mobile" style="font-size: 13px;">Członek Rady Nadzorczej</div><br /><br />
        <div class="management-desc-desc">Absolwent Uniwersytetu Delaware w USA. Legitymuje się licencją maklera, a także licencją doradcy inwestycyjnego
        amerykańskiego FINRA (Financial Industry Regulatory Authority). Pracę zawodowa rozpoczynał jako makler bawełny surowej w
        Allied Textile Brokers w Nowym Jorku. W latach 1990-1995 jako trader surowców firmy Nichimen America w Nowym Jorku
        współpracował z rynkiem japońskim. Pan Jan Ziemecki pracował na wielu stanowiskach kierowniczych, w tym w latach
        1997-1999 jako Członek Zarządu Domu Maklerskiego Pioneer w Warszawie, gdzie obsługiwał największe zagraniczne banki i
        fundusze inwestycyjne oraz był odpowiedzialny za block trading. Kolejno w latach 1999-2003 w CA IB Towarzystwo Funduszy
        Inwestycyjnych S.A., jako Członek Zarządu był odpowiedzialny za sprzedaż i marketing, zarówno dla klientów
        instytucjonalnych jak i detalicznych, był też członkiem komitetu inwestycyjnego w TFI. Od 2004 pełnił funkcje
        Wiceprezesa w Merrill Lynch Bank Suisse w Luksemburgu i Genewie, gdzie był odpowiedzialny przede wszystkim za rozwój
        firmy na rynku polskim i CEE (Central and Estern Europe). Był również odpowiedzialny za handel jednostkami CO2 dla
        spółki z grupy Merrill Lynch Commodities Europe. Po przejęciu Merrill Lynch przez Bank of America, pracował dla Merrill
        Lynch BOA Wealth Management w Boca Raton, Florida, USA. W przeszłości pełnił funkcje członka Rady Nadzorczej w takich
        spółkach jak Ropczyce S.A., NFI Foksal S.A., IQ Partners S.A. Obecnie prowadzi działalność doradczą i inwestycyjną,
        gdzie łączy zachodni instytucjonalny kapitał z polskimi Funduszami Private Equity, Private Debt i znaczącymi zakładami
        produkcyjnymi. Pan Jan Ziemecki spełnia kryteria niezależności.</div>
      </div>
    </div>

    <div class="management-tab">
      <div class="management-img">
        <img src="../../assets/magda_narczewska.png">
      </div>
      <div class="management-desc">
        <div class="padding-mobile">Magda Narczewska</div><br />
        <div class="padding-mobile" style="font-size: 13px;">Członek Rady Nadzorczej</div><br /><br />
        <div class="management-desc-desc">Absolwentka Indiana State University (USA) na Wydziale Zarządzania oraz studiów MBA (specjalizacja: finase) na tej samej
        uczelni. Posiada tytuł CFA (Chartered Financial Analyst). Rozpoczynała karierę zawodową jako konsultant w Business
        Engagement Center na stanowym uniwersytecie Indiana State University w USA. Wykładała tam również na Wydziale
        Zarządzania. Od 2010 roku była związana z Grupą Kapitałową IQ Partners, gdzie pełniła rolę eksperta, a następnie
        dyrektora inwestycyjnego Ventures Hub sp. z o.o. Obecnie jest Prezesem Zarządu w spółce Tulum Technologies sp. z o.o.,
        zarządzającej projektami w branży media i wideo. Pani Magda Narczewska posiada szerokie doświadczenie w zarządzaniu
        procesami inwestycyjnymi projektów, począwszy od weryfikacji potencjału projektów inwestycyjnych poprzez analizę rynku,
        modelowanie finansowe, wycenę potencjalnych inwestycji, strategię operacyjną, negocjacje udziałowe, negocjacje umów
        inwestycyjnych oraz wyjścia z inwestycji. Współpracuje z podmiotami w różnych branżach wykonując wyceny spółek, analizy
        finansowe i modelowanie budżetów inwestycyjnych. Pani Magda Narczewska nie spełnia kryteria niezależności.</div>
      </div>
    </div>

  </div>
</div>